<h1>Create a New Song for your playlist  </h1>
<%=form_for @playlist_song do |t|%>


<%= t.label :name %>
<%= t.text_field :name %>

<%= t.label :artist_name%>
<%= t.text_field :artist_name%>

<%=t.label :rating%>
<%=t.number_field :rating%>



<%= t.submit%>
<%end%>
