<h1> Create a new Playlist </h1>

<%= form_for @user_playlist do |t| %>

<%= t.label :title %>
<%= t.text_field :title %><br /><br />

<%= t.label :description%>
<%= t.text_area :description%><br /><br />
<%= t.submit %>
<%end%>
